<div>Success: <b>{{statusSuccessQuantity}}</b>,
Awaiting: <b>{{statusAwaitingQuantity}}</b>,
Invalid callback: <b>{{statusInvalidCallbackQuantity}}</b>,
Runtime exception: <b>{{statusRuntimeExceptionQuantity}}</b>.</div>
